.get-started-inner{
    padding-top: 310px;
}

.get-started-inner h1{
    margin-bottom: 40px;
}

.get-started-inner p{
    margin-bottom:80px;
}

.login-different{
    background: white;
    border:none;
}